# Compiled executables
example
main
*.exe
*.out

# Object files
*.o
*.obj

# Build folders
build/
bin/
Debug/
Release/

# VS Code
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Input/output test files
output.txt